# published under the MIT License
# https://opensource.org/licenses/mit-license.php

version: '3.7'

services:
    master:
        image: iceflower/redeclipse-server:master
        ports:
            - "28801:28801/udp"
            - "28802:28802/udp"
        restart: unless-stopped
        volumes:
            - type: bind
              source: /home/iceflower/redeclipse-config/devel_home
              target: /re-server-config/home
              read_only: true
            - type: bind
              source: /home/iceflower/redeclipse-config/package
              target: /re-server-config/package
              read_only: true
            - type: bind
              source: /home/iceflower/redeclipse-config/sauerbraten
              target: /re-server-config/sauer
              read_only: true
        logging:
            options:
                max-size: "2000k"
                max-file: "10"
