version: '3.3'

services:
    re-dev-server:
        image: iceflower/redeclipse-server:master
        ports:
            - "28801:28801/udp"
            - "28802:28802/udp"
        restart: unless-stopped
        volumes:
            - type: volume
              source: /home/iceflower/redeclipse-config/devel_home
              target: /re-server-config/home
              readonly: true
            - type: volume
              source: /home/iceflower/redeclipse-config/package
              target: /re-server-config/package
              readonly: true
            - type: volume
              source: /home/iceflower/redeclipse-config/sauerbraten
              target: /re-server-config/sauer
              readonly: true
